h1 {
  margin:0;
  padding:0;
  color: #E3E85A;
}

p {
  color: #ff704d;
}

body {
  background: url('/assets/mosaic.png');
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif !important; 
}